/* graphs.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    align-items: center;
}

header {
    background-color: #f1c40f;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
    color: #ffffff;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #34495e;
}

div {
    margin: 20px auto;
    padding: 15px;
    max-width: 80%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    background-color: #fdfdfd;
}

a {

    text-decoration: none;  /* Removes the underline */
    font-size: 18px;        /* Sets font size */
    font-weight: bold;      /* Makes the font bold */
    color: white;           /* Sets text color */
    background-color: #f1c40f;  /* Blue background color */
    padding: 10px 20px;
    border-radius: 5px;     /* Rounds the corners */
    transition: background-color 0.3s, transform 0.2s;  /* Adds smooth hover effects */
}

/* Hover effect */
a:hover {
    background-color: #0056b3;  /* Darker blue on hover */
    transform: scale(1.05);      /* Slightly enlarges the button */
}

/* Optional: Adding focus state for accessibility */
a:focus {
    outline: 3px solid #FFD700;  /* Adds a gold outline when focused */
}
.link {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items: center;  */
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

